.body {
    margin: 0;
    padding: 0;
    
}

.nav {
    height: 48px;
}

.first {
    background-color: #212529;
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}

.first a {
    color: white;
    display: block;
    padding: .75rem 0;

}


.first a {
    font-size: 1rem;
}

.second {
    background-color: #434648;
}

.third {
    background-color: #212529;
}

.third a {
    color: white;
    display: block;
    padding: .75rem 0;
    font-size: 1rem;
}

.menu {
    height: calc(100vh - 148px);
    background-color: #f8f9fa;
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}

.menu a {
    color: #212529;
}

.left {
    text-decoration: none;
    display: block;
}

.left_ul {
    padding: 30px 0;
}

.menu-link a {
    font-size: 1rem!important;
}

.left a:hover {
  color: rgb(117, 117, 117) !important; 
}

.stats {
    display: flex;
}

.title a {
    text-align: left;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: #212529;
    padding: 30px 0;
}

.futer {
    height: 100px;
}

.futer p {
    
    color: white;
    text-align: center;
    padding: 30px;
    text-transform: uppercase;

}